* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #efefef;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: #444;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 20px;
}

#help-container {
    width: 350px;
    height: 220px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #222;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h3 {
    text-align: center;
    margin-top: 10px;
}

li {
    margin-bottom: 5px;
}

#calculator {
    min-height: 600px;
    width: 450px;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #222;
    border-radius: 10px;
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#display {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    min-height: 110px;
}

#output {
    font-size: 50px;
    margin-right: 12px;
}

#output-preview {
    color: #888;
    margin-right: 22px;
}

#clear-buttons, .row {
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 7px
}

button {
    background-color: #444;
    border: none;
    border-radius: 5px;
    transition: transform .1s;
    flex: 1;
    font-size: 27px;
}

button:hover {
    background-color: #333
}

button:active {
    background-color: #333;
    transform: translateY(2px);
}

.operators,
#backspace-btn,
#clear-btn {
    background-color: #333;
}

#backspace-btn:hover,
#clear-btn:hover,
.operators:hover {
    background-color: #444;
}

#equal-btn {
    background-color: #76b9ed;
    color: black;
}

#equal-btn:hover {
    background-color: #6da9d8;
}

footer {
    font-size: 20px;
    text-align: center;
}